<html lang="ja">
<head>
    <meta charset="UTF-8"/>
    <link href="./assets/style.css" rel="stylesheet">
    <script src="./assets/marked.min.js"></script>
    <link rel="icon" href="./assets/favicon.ico">
    <title>usecase</title>
</head>
<body>
<header class="top">
    <a href="./index.html">[INDEX]</a>
    <b>usecase</b>
</header>
<div class="sideNavMain">
    <nav class="tree">
        <details open>
            <summary class="package">
                <a href="#library.application">ビジネスアクション</a>
            </summary>
            <details open>
            <summary class="package">
                <a href="#library.application.scenario">業務活動の流れ</a>
            </summary>
            <details open>
            <summary class="package">
                <a href="#library.application.scenario.loan">貸出</a>
            </summary>
            <div><a href="#library.application.scenario.loan.LoanScenario">貸出シナリオ</a></div>
        </details><details open>
            <summary class="package">
                <a href="#library.application.scenario.retention">取置</a>
            </summary>
            <div><a href="#library.application.scenario.retention.RetentionScenario">取置シナリオ</a></div><div><a href="#library.application.scenario.retention.RetentionExpireScenario">取置期限切れシナリオ</a></div>
        </details><details open>
            <summary class="package">
                <a href="#library.application.scenario.returns">返却</a>
            </summary>
            <div><a href="#library.application.scenario.returns.ReturnsScenario">返却シナリオ</a></div>
        </details><details open>
            <summary class="package">
                <a href="#library.application.scenario.reservation">予約</a>
            </summary>
            <div><a href="#library.application.scenario.reservation.ReservationScenario">予約受付シナリオ</a></div><div><a href="#library.application.scenario.reservation.ReservationCancellationScenario">予約キャンセルシナリオ</a></div>
        </details>
        </details><details open>
            <summary class="package">
                <a href="#library.application.service">ビジネスアクションの基本単位</a>
            </summary>
            <details open>
            <summary class="package">
                <a href="#library.application.service.material">資料</a>
            </summary>
            <div><a href="#library.application.service.material.MaterialQueryService">資料の参照と検索</a></div>
        </details><details open>
            <summary class="package">
                <a href="#library.application.service.returns">返却</a>
            </summary>
            <div><a href="#library.application.service.returns.ReturnMaterialRecordService">返却の登録</a></div>
        </details><details open>
            <summary class="package">
                <a href="#library.application.service.loan">貸出</a>
            </summary>
            <div><a href="#library.application.service.loan.LoanRecordService">貸出の記録</a></div><div><a href="#library.application.service.loan.LoanExpiredCheckService">貸出期限切れ確認サービス</a></div><div><a href="#library.application.service.loan.LoanQueryService">貸出記録の参照</a></div>
        </details><details open>
            <summary class="package">
                <a href="#library.application.service.item">所蔵品</a>
            </summary>
            <div><a href="#library.application.service.item.ItemQueryService">所蔵品の検索</a></div>
        </details><details open>
            <summary class="package">
                <a href="#library.application.service.reservation">予約</a>
            </summary>
            <div><a href="#library.application.service.reservation.ReservationQueryService">予約の参照</a></div><div><a href="#library.application.service.reservation.ReservationRecordService">予約</a></div>
        </details><details open>
            <summary class="package">
                <a href="#library.application.service.retention">取置</a>
            </summary>
            <div><a href="#library.application.service.retention.RetentionQueryService">取置の参照</a></div><div><a href="#library.application.service.retention.RetentionRecordService">取置の登録</a></div>
        </details><details open>
            <summary class="package">
                <a href="#library.application.service.member">会員</a>
            </summary>
            <div><a href="#library.application.service.member.MemberQueryService">会員の参照</a></div>
        </details>
        </details>
        </details>
        
    </nav>

    <main class="usecase">
        <details open>
            <summary>ユースケース複合図（ハンドラ）</summary>
            <a href="./composite-usecase-handler.svg">
                <img src="./composite-usecase-handler.svg">
            </a>
        </details>
        <details>
            <summary>ユースケース複合図</summary>
            <a href="./composite-usecase.svg">
                <img src="./composite-usecase.svg">
            </a>
        </details>

        <!--
        <th:block th:each="item : ${jigPackages}">
            <section th:replace="fragment-package :: item">
                パッケージ表示
            </section>
        </th:block>
        -->

        
            <section class="type">
                <h2><a name="library.application.scenario.loan.LoanScenario">貸出シナリオ</a></h2>
                <div class="fully-qualified-name">library.application.scenario.loan.LoanScenario</div>

                
                    <section class="markdown">
貸出可否を判定する。
貸出を登録する。</section>
                

                <section class="method">
                    <h3>貸し出す</h3>
                    <div class="fully-qualified-name">loan(LoanRequest):void</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.loan.LoanRequest">貸出依頼</a>
                        </dd>
                        
                        
                    </dl>

                    <section class="description markdown"></section>
                </section>

                <section class="method">
                    <h3>貸出状況を提示する</h3>
                    <div class="fully-qualified-name">loanStatus(LoanRequest):LoanStatus</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.loan.LoanRequest">貸出依頼</a>
                        </dd>
                        <dt>得られるもの（戻り値）</dt>
                        <dd>
                            <a href="./domain.html#library.domain.model.loan.rule.LoanStatus">貸出状況</a>
                        </dd>
                    </dl>

                    <section class="description markdown"></section>
                </section>

                <section class="method">
                    <h3>貸出制限を判断する</h3>
                    <div class="fully-qualified-name">loanability(LoanRequest):Loanability</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.loan.LoanRequest">貸出依頼</a>
                        </dd>
                        <dt>得られるもの（戻り値）</dt>
                        <dd>
                            <a href="./domain.html#library.domain.model.loan.rule.Loanability">貸出可否</a>
                        </dd>
                    </dl>

                    <section class="description markdown"></section>
                </section>

                <section class="method">
                    <h3>会員番号の有効性を確認する</h3>
                    <div class="fully-qualified-name">memberStatus(LoanRequest):MemberStatus</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.loan.LoanRequest">貸出依頼</a>
                        </dd>
                        <dt>得られるもの（戻り値）</dt>
                        <dd>
                            <a href="./domain.html#library.domain.model.member.MemberStatus">会員登録の状態</a>
                        </dd>
                    </dl>

                    <section class="description markdown"></section>
                </section>

                <section class="method">
                    <h3>所蔵品の貸出可否を提示する</h3>
                    <div class="fully-qualified-name">所蔵品の貸出可否を提示する(ItemNumber):ItemLoanability</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.material.item.ItemNumber">所蔵品番号</a>
                        </dd>
                        <dt>得られるもの（戻り値）</dt>
                        <dd>
                            <a href="./domain.html#library.domain.model.loan.rule.ItemLoanability">所蔵品の貸出可否</a>
                        </dd>
                    </dl>

                    <section class="description markdown"></section>
                </section>
            </section>
        
            <section class="type">
                <h2><a name="library.application.scenario.reservation.ReservationCancellationScenario">予約キャンセルシナリオ</a></h2>
                <div class="fully-qualified-name">library.application.scenario.reservation.ReservationCancellationScenario</div>

                
                    
                

                <section class="method">
                    <h3>予約を取り消す</h3>
                    <div class="fully-qualified-name">cancel(ReservationNumber):void</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.reservation.ReservationNumber">予約番号</a>
                        </dd>
                        
                        
                    </dl>

                    <section class="description markdown"></section>
                </section>
            </section>
        
            <section class="type">
                <h2><a name="library.application.scenario.reservation.ReservationScenario">予約受付シナリオ</a></h2>
                <div class="fully-qualified-name">library.application.scenario.reservation.ReservationScenario</div>

                
                    
                

                <section class="method">
                    <h3>本を見つける</h3>
                    <div class="fully-qualified-name">findMaterial(EntryNumber):Entry</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.material.entry.EntryNumber">所蔵品目番号</a>
                        </dd>
                        <dt>得られるもの（戻り値）</dt>
                        <dd>
                            <a href="./domain.html#library.domain.model.material.entry.Entry">所蔵品目</a>
                        </dd>
                    </dl>

                    <section class="description markdown"></section>
                </section>

                <section class="method">
                    <h3>会員番号の有効性を確認する</h3>
                    <div class="fully-qualified-name">memberStatus(MemberNumber):MemberStatus</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.member.MemberNumber">会員番号</a>
                        </dd>
                        <dt>得られるもの（戻り値）</dt>
                        <dd>
                            <a href="./domain.html#library.domain.model.member.MemberStatus">会員登録の状態</a>
                        </dd>
                    </dl>

                    <section class="description markdown"></section>
                </section>

                <section class="method">
                    <h3>予約制限を判断する</h3>
                    <div class="fully-qualified-name">reservationAvailability(ReservationRequest):ReservationAvailability</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.reservation.request.ReservationRequest">予約依頼</a>
                        </dd>
                        <dt>得られるもの（戻り値）</dt>
                        <dd>
                            <a href="./domain.html#library.domain.model.reservation.availability.ReservationAvailability">予約可否</a>
                        </dd>
                    </dl>

                    <section class="description markdown"></section>
                </section>

                <section class="method">
                    <h3>予約を記録する</h3>
                    <div class="fully-qualified-name">reserve(Entry, MemberNumber):void</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.material.entry.Entry">所蔵品目</a>
                        </dd>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.member.MemberNumber">会員番号</a>
                        </dd>
                        
                        
                    </dl>

                    <section class="description markdown"></section>
                </section>

                <section class="method">
                    <h3>本を探す</h3>
                    <div class="fully-qualified-name">search(Keyword):EntryInStockList</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.material.entry.Keyword">検索キーワード</a>
                        </dd>
                        <dt>得られるもの（戻り値）</dt>
                        <dd>
                            <a href="./domain.html#library.domain.model.material.instock.EntryInStockList">本と在庫数の一覧</a>
                        </dd>
                    </dl>

                    <section class="description markdown"></section>
                </section>
            </section>
        
            <section class="type">
                <h2><a name="library.application.scenario.retention.RetentionExpireScenario">取置期限切れシナリオ</a></h2>
                <div class="fully-qualified-name">library.application.scenario.retention.RetentionExpireScenario</div>

                
                    
                

                <section class="method">
                    <h3>取置を期限切れにする</h3>
                    <div class="fully-qualified-name">expire(RetentionNumber):void</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.retention.RetentionNumber">取置番号</a>
                        </dd>
                        
                        
                    </dl>

                    <section class="description markdown"></section>
                </section>
            </section>
        
            <section class="type">
                <h2><a name="library.application.scenario.retention.RetentionScenario">取置シナリオ</a></h2>
                <div class="fully-qualified-name">library.application.scenario.retention.RetentionScenario</div>

                
                    
                

                <section class="method">
                    <h3>予約された本であることを確認する</h3>
                    <div class="fully-qualified-name">isSameMaterial(Reservation, Retention):MaterialMatching</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.reservation.Reservation">*貸出予約</a>
                        </dd>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.retention.Retention">取置依頼</a>
                        </dd>
                        <dt>得られるもの（戻り値）</dt>
                        <dd>
                            <a href="./domain.html#library.domain.model.retention.MaterialMatching">所蔵品と本の照合結果</a>
                        </dd>
                    </dl>

                    <section class="description markdown"></section>
                </section>

                <section class="method">
                    <h3>所蔵品の状態を確認する</h3>
                    <div class="fully-qualified-name">itemStatus(ItemNumber):ItemStatus</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.material.item.ItemNumber">所蔵品番号</a>
                        </dd>
                        <dt>得られるもの（戻り値）</dt>
                        <dd>
                            <a href="./domain.html#library.domain.model.material.item.ItemStatus">所蔵品の状態</a>
                        </dd>
                    </dl>

                    <section class="description markdown"></section>
                </section>

                <section class="method">
                    <h3>取置を貸し出す</h3>
                    <div class="fully-qualified-name">loan(ItemNumber):void</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.material.item.ItemNumber">所蔵品番号</a>
                        </dd>
                        
                        
                    </dl>

                    <section class="description markdown"></section>
                </section>

                <section class="method">
                    <h3>予約を見つける</h3>
                    <div class="fully-qualified-name">reservationOf(ReservationNumber):Reservation</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.reservation.ReservationNumber">予約番号</a>
                        </dd>
                        <dt>得られるもの（戻り値）</dt>
                        <dd>
                            <a href="./domain.html#library.domain.model.reservation.Reservation">*貸出予約</a>
                        </dd>
                    </dl>

                    <section class="description markdown"></section>
                </section>

                <section class="method">
                    <h3>取り置く</h3>
                    <div class="fully-qualified-name">retain(Retention):void</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.retention.Retention">取置依頼</a>
                        </dd>
                        
                        
                    </dl>

                    <section class="description markdown"></section>
                </section>

                <section class="method">
                    <h3>準備完了を一覧する</h3>
                    <div class="fully-qualified-name">retainedList():RetainedList</div>
                    <dl class="depends">
                        
                        
                        <dt>得られるもの（戻り値）</dt>
                        <dd>
                            <a href="./domain.html#library.domain.model.retention.RetainedList">準備完了の一覧</a>
                        </dd>
                    </dl>

                    <section class="description markdown"></section>
                </section>

                <section class="method">
                    <h3>未準備の予約を一覧する</h3>
                    <div class="fully-qualified-name">未準備の予約一覧():ReservationWithWaitingOrderList</div>
                    <dl class="depends">
                        
                        
                        <dt>得られるもの（戻り値）</dt>
                        <dd>
                            <a href="./domain.html#library.domain.model.reservation.wait.ReservationWithWaitingOrderList">待ち順番と貸出予約リスト</a>
                        </dd>
                    </dl>

                    <section class="description markdown"></section>
                </section>
            </section>
        
            <section class="type">
                <h2><a name="library.application.scenario.returns.ReturnsScenario">返却シナリオ</a></h2>
                <div class="fully-qualified-name">library.application.scenario.returns.ReturnsScenario</div>

                
                    
                

                <section class="method">
                    <h3>返却する</h3>
                    <div class="fully-qualified-name">returned(Returned):void</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.returned.Returned">返却</a>
                        </dd>
                        
                        
                    </dl>

                    <section class="description markdown"></section>
                </section>
            </section>
        
            <section class="type">
                <h2><a name="library.application.service.item.ItemQueryService">所蔵品の検索</a></h2>
                <div class="fully-qualified-name">library.application.service.item.ItemQueryService</div>

                
                    
                

                <section class="method">
                    <h3>所蔵品を見つける</h3>
                    <div class="fully-qualified-name">findBy(ItemNumber):Item</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.material.item.ItemNumber">所蔵品番号</a>
                        </dd>
                        <dt>得られるもの（戻り値）</dt>
                        <dd>
                            <a href="./domain.html#library.domain.model.material.item.Item">*所蔵品</a>
                        </dd>
                    </dl>

                    <section class="description markdown"></section>
                </section>

                <section class="method">
                    <h3>所蔵品の状態を調べる</h3>
                    <div class="fully-qualified-name">status(ItemNumber):ItemStatus</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.material.item.ItemNumber">所蔵品番号</a>
                        </dd>
                        <dt>得られるもの（戻り値）</dt>
                        <dd>
                            <a href="./domain.html#library.domain.model.material.item.ItemStatus">所蔵品の状態</a>
                        </dd>
                    </dl>

                    <section class="description markdown"></section>
                </section>
            </section>
        
            <section class="type">
                <h2><a name="library.application.service.loan.LoanExpiredCheckService">貸出期限切れ確認サービス</a></h2>
                <div class="fully-qualified-name">library.application.service.loan.LoanExpiredCheckService</div>

                
                    
                

                <section class="method">
                    <h3>貸出期限切れを確認する</h3>
                    <div class="fully-qualified-name">expiredCheck(Loan):void</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.loan.Loan">*貸出</a>
                        </dd>
                        
                        
                    </dl>

                    <section class="description markdown"></section>
                </section>
            </section>
        
            <section class="type">
                <h2><a name="library.application.service.loan.LoanQueryService">貸出記録の参照</a></h2>
                <div class="fully-qualified-name">library.application.service.loan.LoanQueryService</div>

                
                    
                

                <section class="method">
                    <h3>貸出を見つける</h3>
                    <div class="fully-qualified-name">findBy(ItemNumber):Loan</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.material.item.ItemNumber">所蔵品番号</a>
                        </dd>
                        <dt>得られるもの（戻り値）</dt>
                        <dd>
                            <a href="./domain.html#library.domain.model.loan.Loan">*貸出</a>
                        </dd>
                    </dl>

                    <section class="description markdown"></section>
                </section>

                <section class="method">
                    <h3>会員の貸出を一覧する</h3>
                    <div class="fully-qualified-name">status(MemberNumber):LoanStatus</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.member.MemberNumber">会員番号</a>
                        </dd>
                        <dt>得られるもの（戻り値）</dt>
                        <dd>
                            <a href="./domain.html#library.domain.model.loan.rule.LoanStatus">貸出状況</a>
                        </dd>
                    </dl>

                    <section class="description markdown"></section>
                </section>
            </section>
        
            <section class="type">
                <h2><a name="library.application.service.loan.LoanRecordService">貸出の記録</a></h2>
                <div class="fully-qualified-name">library.application.service.loan.LoanRecordService</div>

                
                    
                

                <section class="method">
                    <h3>取り置いた所蔵品を貸し出す</h3>
                    <div class="fully-qualified-name">loaned(LoanRequest):void</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.loan.LoanRequest">貸出依頼</a>
                        </dd>
                        
                        
                    </dl>

                    <section class="description markdown"></section>
                </section>

                <section class="method">
                    <h3>取り置いた所蔵品を貸し出す</h3>
                    <div class="fully-qualified-name">loaned(LoanRequest, Retained):void</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.loan.LoanRequest">貸出依頼</a>
                        </dd>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.retention.Retained">取置資料</a>
                        </dd>
                        
                        
                    </dl>

                    <section class="description markdown"></section>
                </section>
            </section>
        
            <section class="type">
                <h2><a name="library.application.service.material.MaterialQueryService">資料の参照と検索</a></h2>
                <div class="fully-qualified-name">library.application.service.material.MaterialQueryService</div>

                
                    
                

                <section class="method">
                    <h3>資料番号で本を見つける</h3>
                    <div class="fully-qualified-name">findMaterial(EntryNumber):Entry</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.material.entry.EntryNumber">所蔵品目番号</a>
                        </dd>
                        <dt>得られるもの（戻り値）</dt>
                        <dd>
                            <a href="./domain.html#library.domain.model.material.entry.Entry">所蔵品目</a>
                        </dd>
                    </dl>

                    <section class="description markdown"></section>
                </section>

                <section class="method">
                    <h3>キーワードで本を探す</h3>
                    <div class="fully-qualified-name">search(Keyword):EntryInStockList</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.material.entry.Keyword">検索キーワード</a>
                        </dd>
                        <dt>得られるもの（戻り値）</dt>
                        <dd>
                            <a href="./domain.html#library.domain.model.material.instock.EntryInStockList">本と在庫数の一覧</a>
                        </dd>
                    </dl>

                    <section class="description markdown"></section>
                </section>
            </section>
        
            <section class="type">
                <h2><a name="library.application.service.member.MemberQueryService">会員の参照</a></h2>
                <div class="fully-qualified-name">library.application.service.member.MemberQueryService</div>

                
                    
                

                <section class="method">
                    <h3>会員を見つける</h3>
                    <div class="fully-qualified-name">findMember(MemberNumber):Member</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.member.MemberNumber">会員番号</a>
                        </dd>
                        <dt>得られるもの（戻り値）</dt>
                        <dd>
                            <a href="./domain.html#library.domain.model.member.Member">会員</a>
                        </dd>
                    </dl>

                    <section class="description markdown"></section>
                </section>

                <section class="method">
                    <h3>会員登録の状態を確認する</h3>
                    <div class="fully-qualified-name">status(MemberNumber):MemberStatus</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.member.MemberNumber">会員番号</a>
                        </dd>
                        <dt>得られるもの（戻り値）</dt>
                        <dd>
                            <a href="./domain.html#library.domain.model.member.MemberStatus">会員登録の状態</a>
                        </dd>
                    </dl>

                    <section class="description markdown"></section>
                </section>
            </section>
        
            <section class="type">
                <h2><a name="library.application.service.reservation.ReservationQueryService">予約の参照</a></h2>
                <div class="fully-qualified-name">library.application.service.reservation.ReservationQueryService</div>

                
                    
                

                <section class="method">
                    <h3>予約を見つける</h3>
                    <div class="fully-qualified-name">reservationOf(ReservationNumber):Reservation</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.reservation.ReservationNumber">予約番号</a>
                        </dd>
                        <dt>得られるもの（戻り値）</dt>
                        <dd>
                            <a href="./domain.html#library.domain.model.reservation.Reservation">*貸出予約</a>
                        </dd>
                    </dl>

                    <section class="description markdown"></section>
                </section>

                <section class="method">
                    <h3>予約の状態を調べる</h3>
                    <div class="fully-qualified-name">reservationStatus(ReservationNumber):ReservationStatus</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.reservation.ReservationNumber">予約番号</a>
                        </dd>
                        <dt>得られるもの（戻り値）</dt>
                        <dd>
                            <a href="./domain.html#library.domain.model.reservation.ReservationStatus">予約の状態</a>
                        </dd>
                    </dl>

                    <section class="description markdown"></section>
                </section>

                <section class="method">
                    <h3>会員の予約一覧を取得する</h3>
                    <div class="fully-qualified-name">予約一覧(MemberNumber):Reservations</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.member.MemberNumber">会員番号</a>
                        </dd>
                        <dt>得られるもの（戻り値）</dt>
                        <dd>
                            <a href="./domain.html#library.domain.model.reservation.Reservations">貸出予約リスト</a>
                        </dd>
                    </dl>

                    <section class="description markdown"></section>
                </section>

                <section class="method">
                    <h3>未準備の予約を一覧する</h3>
                    <div class="fully-qualified-name">未準備の予約一覧():ReservationWithWaitingOrderList</div>
                    <dl class="depends">
                        
                        
                        <dt>得られるもの（戻り値）</dt>
                        <dd>
                            <a href="./domain.html#library.domain.model.reservation.wait.ReservationWithWaitingOrderList">待ち順番と貸出予約リスト</a>
                        </dd>
                    </dl>

                    <section class="description markdown"></section>
                </section>
            </section>
        
            <section class="type">
                <h2><a name="library.application.service.reservation.ReservationRecordService">予約</a></h2>
                <div class="fully-qualified-name">library.application.service.reservation.ReservationRecordService</div>

                
                    
                

                <section class="method">
                    <h3>予約を取消す</h3>
                    <div class="fully-qualified-name">cancel(Reservation):void</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.reservation.Reservation">*貸出予約</a>
                        </dd>
                        
                        
                    </dl>

                    <section class="description markdown"></section>
                </section>

                <section class="method">
                    <h3>予約する</h3>
                    <div class="fully-qualified-name">reserve(ReservationRequest):void</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.reservation.request.ReservationRequest">予約依頼</a>
                        </dd>
                        
                        
                    </dl>

                    <section class="description markdown"></section>
                </section>
            </section>
        
            <section class="type">
                <h2><a name="library.application.service.retention.RetentionQueryService">取置の参照</a></h2>
                <div class="fully-qualified-name">library.application.service.retention.RetentionQueryService</div>

                
                    
                

                <section class="method">
                    <h3>準備完了を見つける</h3>
                    <div class="fully-qualified-name">findBy(ItemNumber):Retained</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.material.item.ItemNumber">所蔵品番号</a>
                        </dd>
                        <dt>得られるもの（戻り値）</dt>
                        <dd>
                            <a href="./domain.html#library.domain.model.retention.Retained">取置資料</a>
                        </dd>
                    </dl>

                    <section class="description markdown"></section>
                </section>

                <section class="method">
                    <h3>準備完了を一覧する</h3>
                    <div class="fully-qualified-name">retentions():RetainedList</div>
                    <dl class="depends">
                        
                        
                        <dt>得られるもの（戻り値）</dt>
                        <dd>
                            <a href="./domain.html#library.domain.model.retention.RetainedList">準備完了の一覧</a>
                        </dd>
                    </dl>

                    <section class="description markdown"></section>
                </section>
            </section>
        
            <section class="type">
                <h2><a name="library.application.service.retention.RetentionRecordService">取置の登録</a></h2>
                <div class="fully-qualified-name">library.application.service.retention.RetentionRecordService</div>

                
                    
                

                <section class="method">
                    <h3>予約された本であることを確認する</h3>
                    <div class="fully-qualified-name">materialMatching(Reservation, Item):MaterialMatching</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.material.item.Item">*所蔵品</a>
                        </dd>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.reservation.Reservation">*貸出予約</a>
                        </dd>
                        <dt>得られるもの（戻り値）</dt>
                        <dd>
                            <a href="./domain.html#library.domain.model.retention.MaterialMatching">所蔵品と本の照合結果</a>
                        </dd>
                    </dl>

                    <section class="description markdown"></section>
                </section>

                <section class="method">
                    <h3>取置を期限切れにする(準備完了を消し込む）</h3>
                    <div class="fully-qualified-name">releaseAndExpire(RetentionNumber):void</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.retention.RetentionNumber">取置番号</a>
                        </dd>
                        
                        
                    </dl>

                    <section class="description markdown"></section>
                </section>

                <section class="method">
                    <h3>予約された本を取り置く</h3>
                    <div class="fully-qualified-name">retain(Retention):void</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.retention.Retention">取置依頼</a>
                        </dd>
                        
                        
                    </dl>

                    <section class="description markdown"></section>
                </section>
            </section>
        
            <section class="type">
                <h2><a name="library.application.service.returns.ReturnMaterialRecordService">返却の登録</a></h2>
                <div class="fully-qualified-name">library.application.service.returns.ReturnMaterialRecordService</div>

                
                    
                

                <section class="method">
                    <h3>返却を記録する</h3>
                    <div class="fully-qualified-name">returned(Returned):void</div>
                    <dl class="depends">
                        <dt>要求するもの（引数）</dt>
                        <dd>
                            <a class="method-argument-item" href="./domain.html#library.domain.model.returned.Returned">返却</a>
                        </dd>
                        
                        
                    </dl>

                    <section class="description markdown"></section>
                </section>
            </section>
        
    </main>
</div>


    <script src="https://cdn.jsdelivr.net/npm/marked@5.1.0/marked.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid@10.2.3/dist/mermaid.min.js"></script>
    <script src="./assets/jig.js"></script>

</body>
</html>