<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="_fragments/member/layout :: htmlhead(~{::title})">
    <meta charset="utf-8"/>
    <title>本の検索</title>
</head>
<body>
<header th:replace="_fragments/member/navigation::navigation('本の予約')"></header>

<main class="container">
    <header th:replace="_fragments/member/header::header('本の検索')"></header>

    <section class="attendanceInput has-text-centered">
        <form id="custom-form" class="form" name="body"
              method="get" action="#"
              th:action="@{/reservation/books/search}">
            <div class="field is-grouped">
                <p class="control is-expanded">
                    <input class="input" type="text" placeholder="検索キーワード　空白で全件" th:field="${searchKeyword.value}">
                </p>
                <p class="control">
                    <button class="button is-info">
                        検索
                    </button>
                </p>
            </div>
        </form>
    </section>

    <th:block th:if="${availabilities}">
        <p th:text="${availabilities.numberOfBook().show()}"></p>
        <table class="table">
            <thead>
            <tr>
            <th>書籍</th>
            <th>貸出</th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="availability : ${availabilities.asList()}">
                <td th:text="${availability.describeBook()}"></td>
                <td th:text="${availability.showAvailability()}"></td>
                <td><a th:if="${availability.isAvailable()}"
                       class="button is-primary is-small"
                       th:href="@{/reservation/register(book=${availability.bookNumber()})}">予約する</a></td>
            </tr>
            </tbody>
        </table>
    </th:block>
</main>
</body>
</html>