<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="_parts/member/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
  <title>本の検索</title>
</head>
<body>
<header th:replace="_parts/member/navigation::navigation"></header>
<main>
  <article>
    <form method="get" action="#" th:action="@{/reservation/books/search}">
      <label>キーワード検索（空白で全件を検索します）</label>
      <input class="input" type="text" placeholder="キーワード" th:field="${searchKeyword.value}">
      <button>本を探す</button>
    </form>
  </article>
  <th:block th:if="${availabilities}">
    <article>
      <h4>検索結果：
      <span th:text="${availabilities.numberOfBook().show()}"></span>
      </h4>
      <table>
        <thead>
        <tr>
          <th>書籍</th>
          <th>貸出</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="availability : ${availabilities.asList()}">
          <td th:text="${availability.describeBook()}"></td>
          <td th:text="${availability.showAvailability()}"></td>
          <td><a th:if="${availability.isAvailable()}"
                 class="button is-primary is-small"
                 th:href="@{/reservation/register(book=${availability.bookNumber()})}">予約する</a></td>
        </tr>
        </tbody>
      </table>
    </article>
  </th:block>

</main>
</body>
</html>