<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="_parts/member/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
  <title>貸出の登録</title>
</head>
<body>
<header th:replace="_parts/librarian/navigation::navigation('貸出の登録')"></header>

<main class="container">
  <header th:replace="_parts/member/header::header('貸出の登録')"></header>

  <div class="notification">
    会員番号: <span th:text="${loanStatus.memberNumber()}"></span> の貸出を登録しました。
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>蔵書</th>
      <th>貸出日</th>
    </tr>
    </thead>
    <tbody>
      <tr th:each="loan : ${loanStatus.loans().asList()}">
        <td th:text="${loan.item().show()}"></td>
        <td th:text="${loan.date().show()}"></td>
      </tr>
    </tbody>
  </table>

</main>
</body>
</html>