<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:frgment="meta">
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content=""/>
        <meta name="workOf" content=""/>
        <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>
    </th:block>
    <title>HTML head要素の部品</title>
<th:block th:fragment="css">
    <link rel='stylesheet' href='/css/mvp/mvp.css'>
    <link rel='stylesheet' href='/css/site.css'>
</th:block>
</head>
<body>
</body>
</html>