<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ナビゲーションバー</title>
</head>
<body>
<header class="hero is-primary" th:fragment="navigation(active)">
  <nav class="navbar">
    <div class="navbar-menu is-flex">
        <a class="navbar-item" th:classappend="${active.equals('予約図書一覧')} ? 'is-active' : ''"
           th:href="@{/reservation/list}">
            <span class="icon"><i class="fas mdiBookOpenVariant"></i></span>
            <span>予約図書一覧</span>
        </a>
    </div>
  </nav>
</header>
</body>
</html>