<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
  <title>貸出図書の登録</title>
</head>
<body>
<header th:replace="fragments/navigation::navigation('貸出図書の登録')"></header>

<main class="container">
  <header th:replace="fragments/header::header('貸出図書の登録')"></header>

  <div class="notification">
    会員番号: <span th:text="${memberAllBookOnLoans.member().memberNumber()}"></span> の貸出図書を登録しました。
  </div>
  <table class="table">
    <thead>
      <th>蔵書コード</th>
      <th>貸出日</th>
    </thead>
    <tbody>
      <tr th:each="bookonloan : ${memberAllBookOnLoans.bookOnLoans().list()}">
        <td th:text="${bookonloan.bookCollectionCode()}"></td>
        <td th:text="${bookonloan.loanDate()}"></td>
      </tr>
    </tbody>
  </table>

</main>
</body>
</html>