<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
  <title>貸出図書の登録</title>
</head>
<body>
<header th:replace="fragments/navigation::navigation('貸出図書の登録')"></header>

<main class="container">
  <header th:replace="fragments/header::header('貸出図書の登録')"></header>

  <section class="attendanceInput has-text-centered">
    <form id="custom-form" class="form" name="body"
          method="post" action="#">

      <table>
        <tr>
          <td>会員番号</td>
          <td th:text="${member.memberNumber()}"></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td th:text="${member.name()}"></td>
        </tr>
      </table>

      <div class="formFooter has-text-centered">
        <button class="button is-primary is-outlined">登録</button>
      </div>
    </form>
  </section>

</main>
</body>
</html>