<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
  <title>貸出図書の登録</title>
</head>
<body>
<header th:replace="fragments/navigation::navigation('貸出図書の登録')"></header>

<main class="container">
  <header th:replace="fragments/header::header('貸出図書の登録')"></header>

  <section class="attendanceInput has-text-centered">
    <form id="custom-form" class="form" name="body"
          method="post" action="#"
          th:object="${bookOnLoan}"
          th:action="@{/bookonloan/register}">

      <div th:replace="fragments/field::macro('会員番号', ~{::div#memberNumberField})">
        <div id="memberNumberField" class="field-body">
          <div class="field">
            <p class="control">
              <input class="input" type="text" placeholder="1"
                     th:field="*{memberNumber.value}"/>
            </p>
          </div>
        </div>
      </div>

      <div th:replace="fragments/field::macro('蔵書コード', ~{::div#bookCollectionCodeField})">
        <div id="bookCollectionCodeField" class="field-body">
          <div class="field">
            <p class="control">
              <input class="input" type="text" placeholder="1-A"
                     th:field="*{bookCollectionCode.value}"/>
            </p>
          </div>
        </div>
      </div>

      <div th:replace="fragments/field::macro('貸出日', ~{::div#loanDateField})">
        <div id="loanDateField" class="field-body">
          <div class="field">
            <p class="control">
              <input class="input" type="date" placeholder="2020-01-01"
                     th:field="*{loanDate.value}"/>
            </p>
          </div>
        </div>
      </div>

      <div class="formFooter has-text-centered">
        <button class="button is-primary is-outlined">登録</button>
      </div>
    </form>
  </section>

</main>
</body>
</html>