<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="_parts/head :: meta"/>
  <title>本の返却</title>
  <th:block th:replace="_parts/head :: css"/>
</head>
<body>
<header th:replace="_parts/navigation::loan"></header>

<main>
  <article>
    <h3>本の返却</h3>
    <form method="post" action="#"
          th:object="${returned}"
          th:action="@{/returns}">

      <ul th:if="${#fields.hasGlobalErrors()}" class="notification is-danger">
        <li th:each="err : ${#fields.globalErrors()}" th:text="${err}"></li>
      </ul>

      <label>蔵書番号</label>
      <input class="input" type="text" placeholder="蔵書番号　1-A,2-Aなど"
             th:field="*{itemNumber.value}">
      <p th:if="${#fields.hasErrors('itemNumber.value')}">
        <mark><span th:errors="*{itemNumber.value}"></span></mark>
      </p>

              <label>返却日</label>
              <input class="input" type="date"
                     th:field="*{returnDate.value}">
            <p class="help is-danger has-text-left"
               th:if="${#fields.hasErrors('returnDate.value')}">
              <mark><span th:errors="*{returnDate.value}"></span></mark>
            </p>

        <button>登録</button>
    </form>
  </article>
</main>
</body>
<footer th:replace="_parts/footer :: default"></footer>
</html>