<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ナビゲーションバー</title>
</head>
<body>
<header class="hero is-primary" th:fragment="navigation(active)">
  <nav class="navbar">
    <div class="navbar-menu is-flex">
      <a class="navbar-item" th:classappend="${active.equals('貸出図書の登録')} ? 'is-active' : ''"
         th:href="@{/bookonloan}">
        <span class="icon"><i class="fas mdiBookOpenVariant"></i></span>
        <span>貸出図書の登録</span>
      </a>
    </div>
  </nav>
</header>
</body>
</html>