<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <th:block th:replace="_parts/head :: meta"/>
  <title>取置の登録</title>
  <th:block th:replace="_parts/head :: css"/>
</head>
<body>
<header th:replace="_parts/librarian/navigation::retention"></header>
<main>
  <article>
    <h1>取置の登録</h1>
    <form th:action="@{/retentions}" th:object="${retention}" method="post">
      <p th:text="${reservation.showBook()}"></p>
      <label for="item">取り置く本の蔵書番号</label>
      <input id="item" type="text" name="itemNumber.value"
             th:value="*{itemNumber()}" placeholder="1-A,2-Aなど">
      <p th:if="${#fields.hasErrors('itemNumber.value')}">
        <mark>
          <span th:errors="*{itemNumber.value}"></span>
        </mark>
      </p>
      <input type="hidden" name="reservationNumber.value" th:value="${reservation.number()}">
      <input type="submit" value="取置">
    </form>
  </article>
</main>
</body>
<footer th:replace="_parts/footer :: default"></footer>
</html>