<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="utf-8">
<head>
    <meta charset="utf-8"/>
    <title>予約図書一覧</title>
    <link th:replace="_fragments/counter/head :: css-dark">
</head>
<body>
<header th:replace="_fragments/counter/navigation::navigation('予約図書一覧')"></header>

<main class="container">
    <header th:replace="_fragments/member/header::header('予約図書一覧')"></header>

    <th:block th:if="${reservations}">
        <span th:text="${reservations.numberOfReservation().value()}"></span><span>件</span>
        <table class="table">
            <thead>
            <tr>
            <th>会員番号</th>
            <th>本</th>
            <th></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reservation : ${reservations.asList()}">
                <td th:text="${reservation.member().name()}"></td>
                <td th:text="${reservation.showBook()}"></td>
                <td>取り置いた</td>
                <td>取置できなかった</td>
            </tr>
            </tbody>
        </table>
    </th:block>

</main>
</body>
</html>