<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="_parts/head :: meta"/>
  <title>予約の管理</title>
  <th:block th:replace="_parts/head :: css"/>
</head>
<body>
<header th:replace="_parts/navigation::retention"></header>
<main>
  <article>
    <h1>予約の管理</h1>
    <p th:text="${reservations.numberOfReservation()}">件</p>
    <form>
    <table th:unless="${reservations.isEmpty()}">
      <thead>
      <tr>
        <th>アクション</th>
        <th>資料</th>
        <th>会員</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="reservation : ${reservations.asList()}">

        <td>
            <button type="submit"
                    th:formmethod="get" th:formaction="@{/retentions/requests/{reservation}(reservation=${reservation.number()})}">
              取置</button>
            <button type="submit" name="notAvailable"
                    th:formmethod="post" th:formaction="@{/retentions/requests/canceled}"
                    th:value="${reservation.number()}">キャンセル</button>
        </td>
        <td th:text="${reservation.showMaterial()}"></td>
        <td th:text="${reservation.member().number()}"></td>

      </tr>
      </tbody>
    </table>
    </form>
  </article>
</main>
<footer th:replace="_parts/footer :: default"></footer>
</body>
</html>