<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="utf-8"/>
  <title>予約の管理</title>
  <link th:replace="_fragments/counter/head :: css-dark">
</head>
<body>
<nav>
  <a th:href="@{/retentions/requests}">未準備の予約</a>
  | <a th:href="@{/retentions}">準備完了・貸出待ち</a>
</nav>
<h1>未準備の予約</h1>
  <p th:text="${reservations.numberOfReservation()}">件</p>
  <table class="table">
    <thead>
    <tr>
      <th>会員</th>
      <th>本</th>
      <th>アクション</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reservation : ${reservations.asList()}">
      <td th:text="${reservation.member().number()}"></td>
      <td th:text="${reservation.showBook()}"></td>
      <td>
        <form th:action="@{/retentions/requests/{reservation}(reservation=${reservation.number()})}" method="get">
        <button type="submit">取置</button>
        </form>
      </td>
      <td>
        <form th:action="@{/retentions/requests/canceled}" method="post">
        <button type="submit" name="notAvailable" th:value="${reservation.number()}">在庫なし</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</body>
</html>