<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="utf-8"/>
  <title>取置の管理</title>
  <link th:replace="_parts/counter/head :: css">
</head>
<body>
<nav>
  <a th:href="@{/retentions/requests}">未準備の予約</a>
  | <a th:href="@{/retentions}">準備完了・貸出待ち</a>
</nav>
<h1>準備完了・貸出待ち</h1>
  <p th:text="${retainedList.showCount()}">件</p>
  <form th:action="@{/retentions/loans}" method="post">
  <table class="table">
    <thead>
    <tr>
      <th>会員</th>
      <th>本</th>
      <th>取置期限</th>
      <th>アクション</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="retained : ${retainedList.asList()}">
      <td th:text="${retained.memberNumber()}"></td>
      <td th:text="${retained.showBook()}"></td>
      <th:block th:switch="${retained.isExpired()}">
        <th:block th:case="false">
          <td th:text="${retained.showExpireDate()}"></td>
          <td><button type="submit" name="loaned" th:value="${retained.itemNumber()}">貸出</button></td>
        </th:block>
        <th:block th:case="true" >
          <td><mark><span th:text="${retained.showExpireDate()}"></span></mark></td>
          <td><button type="submit" name="expired" th:value="${retained.itemNumber()}">期限切れ処理</button></td>
        </th:block>
      </th:block>
    </tr>
    </tbody>
  </table>
  </form>
</body>
<footer th:replace="_parts/footer :: default"/>
</html>