<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="_parts/head :: meta"/>
  <title>本の貸出</title>
  <th:block th:replace="_parts/head :: css"/>
</head>
<body>
<header th:replace="_parts/librarian/navigation::retention"></header>
<main>
  <h1>取置中</h1>
  <p th:text="${retainedList.showCount()}">件</p>
  <form th:unless="${retainedList.isEmpty()}"
      th:action="@{/retentions/loans}" method="post">
    <table>
      <thead>
      <tr>
        <th>取置期限</th>
        <th>本</th>
        <th>会員</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="retained : ${retainedList.asList()}">
        <th:block th:switch="${retained.isExpired()}">
          <th:block th:case="false">
            <td>
              <span th:text="${retained.showExpireDate()}"></span>
              <button type="submit" name="loaned" th:value="${retained.itemNumber()}">貸出</button>
            </td>
          </th:block>
          <th:block th:case="true">
            <td>
              <mark><span th:text="${retained.showExpireDate()}"></span></mark>
              <button type="submit" name="expired" th:value="${retained.itemNumber()}">期限切れ処理</button>
            </td>
          </th:block>
        </th:block>
        <td th:text="${retained.showBook()}"></td>
        <td th:text="${retained.memberNumber()}"></td>
      </tr>
      </tbody>
    </table>
  </form>
</main>
<footer th:replace="_parts/footer :: default"></footer>
</body>
</html>