<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="_fragments/member/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
  <title>貸出の返却</title>
</head>
<body>
<header th:replace="_fragments/librarian/navigation::navigation('貸出の返却')"></header>

<main class="container">
  <header th:replace="_fragments/member/header::header('貸出の返却')"></header>

  <section class="attendanceInput has-text-centered">
    <form id="custom-form" class="form" name="body"
          method="post" action="#"
          th:object="${returned}"
          th:action="@{/returns/register}">

      <ul th:if="${#fields.hasGlobalErrors()}" class="notification is-danger">
        <li th:each="err : ${#fields.globalErrors()}" th:text="${err}"></li>
      </ul>

      <div th:replace="_fragments/member/field::macro('蔵書番号', ~{::div#holdingCodeField})">
        <div id="holdingCodeField" class="field-body">
          <div class="field">
            <p class="control">
              <input class="input" type="text" placeholder="蔵書番号　1-A,2-Aなど"
                     th:field="*{itemNumber.value}">
            </p>
            <p class="help is-danger has-text-left"
               th:if="${#fields.hasErrors('itemNumber.value')}">
              <span th:errors="*{itemNumber.value}"></span>
            </p>
          </div>
        </div>
      </div>

      <div th:replace="_fragments/member/field::macro('返却日', ~{::div#returnDateField})">
        <div id="returnDateField" class="field-body">
          <div class="field">
            <p class="control">
              <input class="input" type="date"
                     th:field="*{returnDate.value}">
            </p>
            <p class="help is-danger has-text-left"
               th:if="${#fields.hasErrors('returnDate.value')}">
              <span th:errors="*{returnDate.value}"></span>
            </p>
          </div>
        </div>
      </div>

      <div class="formFooter has-text-centered">
        <button class="button is-primary is-outlined">登録</button>
      </div>
    </form>
  </section>

</main>
</body>
</html>