<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_parts/member/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
  <title>本の貸出予約</title>
</head>
<body>
<header th:replace="_parts/member/navigation::navigation"></header>
<main>
  <article>
    <h3 th:text="予約する本"></h3>
    <h4 th:text="${book.show()}"></h4>
    <form id="custom-form" class="form" name="body"
          method="post" action="#"
          th:object="${member}"
          th:action="@{/reservation/register}">

      <ul th:if="${#fields.hasGlobalErrors()}" class="notification is-danger">
        <li th:each="err : ${#fields.globalErrors()}" th:text="${err}"></li>
      </ul>

      <label>会員番号を入力してください</label>
      <input class="input" type="text" placeholder="会員番号　1,2など"
             th:field="*{value}"/>

      <p th:if="${#fields.hasErrors('value')}">
        <span th:errors="*{value}"></span>
      </p>

      <input type="hidden" name="book" th:value="${book.bookNumber()}">

      <div class="formFooter has-text-centered">
        <button class="button is-primary is-outlined">予約する</button>
      </div>
    </form>
  </article>

</main>
</body>
</html>